---
Language: Cpp
BasedOnStyle: Google
AlignArrayOfStructures: Right
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AlignOperands: Align
AlignTrailingComments: true
CommentPragmas: '^[^ ]'
ColumnLimit: 100
DerivePointerAlignment: false
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: false
