# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Static and shared libraries
lib/

# Build files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
Makefile
build.ninja
.ninja_log

# Compilation output
bin/

# Documentation
docs/

# Library headers
include/glad
include/GLFW
include/khr

# Library sources
src/cellarium/glad
src/cellarium/dear_imgui

# Dear ImGui
imgui.ini

# Configuration files
*.json